# Flutter / Dart sampah yang harus diabaikan
**/tool/
**/.dart_tool/
**/.packages
**/.pub-cache/
**/.pub/
**/build/

# Web standalone build
**/build_web/

# Android/iOS ignore
**/android/**/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/.ios/Flutter/Flutter.podspec

# OS files
.DS_Store
Thumbs.db